body,
html {
    background-color: grey;
}

.switch {
    background-color: greenyellow;


}

.container {
    display: grid;
    grid-template-columns: 2, 1fr;
    grid-template-rows: 3, 1fr;
    max-width: 12em;
    max-height: 12em;


}

img {
    display: flex;
    max-width: 100%;
    max-height: 100%;
}