html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}

.drop {

    display: block;
    height: 40px;
    box-shadow: 0 10px 10px rgb(68, 167, 48);
}

.drop:hover {
    box-shadow: 0 10px 10px cornflowerblue;
}


.drop ul li {
    width: 12rem;
    height: 2rem;
    float: left;
    text-align: center;
    line-height: 2rem;
    border: solid rgb(0, 0, 0) 2px;
    text-decoration: none;
}

.drop ul li :hover {
    color: cornflowerblue;

}

.drop ul li a {
    text-decoration: none;
    color: rgb(68, 167, 48);
    display: block;
}

.drop ul li ul li {
    display: none;
}

.drop ul li:hover ul li {
    display: block;
    box-shadow: 0 10px 10px cornflowerblue;
}

.btn {
    background-color: rgb(0, 0, 0);
    color: rgb(68, 167, 48);
    border: none;
}