h1 {
    margin-left: 500px;
    margin-top: 10px;
}



.container {
    display: block;
    width: 200px;
    height: 200px;
    margin-left: 550px;
    margin-top: 200px;
    border-radius: 50%;

    background-color: rgb(130, 0, 43);
}


.btn {

    margin-left: 75px;
    margin-top: 80px;
    border-radius: 50%;
    width: 25%;
    height: 25%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: khaki;
    box-shadow: none;
}

.invisible {
    background-color: rgb(57, 61, 53);
}