body {
    box-sizing: border-box;

    // background: rgb(255, 255, 255);
    background: linear-gradient(315deg,
            rgba(255, 255, 255, 1) 50%,
            rgba(0, 0, 0, 1) 70%);
}

#menubar {
    padding: 10px;
    position: absolute;
}

#menu {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 2;
}

.bar {
    transition: 0.5s;

    display: block;
}

#bar1 {
    color: rgb(160, 70, 9);
    border: solid 2px;
    transform: translateY(-4px);
}

#bar2 {
    color: rgb(247, 241, 156);
    border: solid 1px;
}

#bar3 {
    color: rgb(160, 70, 9);
    border: solid 2px;
    transform: translateY(4px);
}

.change #bar1 {
    transform: translateY(4px) rotate(-45deg);
}

.change #bar3 {
    transform: translateY(-2px) rotate(45deg);
}

.change #bar2 {
    opacity: 0;
}

.nav {
    display: none;
}

.changem {
    display: block;
}

.nav li {
    list-style: none;
    padding: 30px;
}

.nav li a {
    color: cornsilk;
    text-decoration: none;

    z-index: 1;
    position: absolute;
}

.nav li:hover {
    font-weight: bold;
}

.changebg {
    transition: 1s;
    background-color: green;
    width: 500px;
    height: 600px;
    clip-path: polygon(0% 0%, 55% 0, 0% 100%);
}

.main {
    top: 2em;
    left: 1em;
    right: 2em;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(5, 100px);
    gap: 4px;
    background-color: #004445;
    z-index: -1;
    box-shadow: 10px 10px grey;
}

.main h2 {
    background-color: #2c7873;
    border-radius: 0.5em;
}

.main h2 p {
    font-size: 1rem;
    border-radius: 0.5em;
    background-color: #6fb98f;
}