/* || General setup */

html,
body {
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
	background-color: #474646;
}

body {
	width: 90%;
	margin: 0 auto;
}

body > * {
	background-color: rgb(145, 226, 124);
	padding: 1em;
}

.fonts {
	font-family: 'Cinzel Decorative', cursive;
	color: #2a2a2a;
	font-size: 4rem;
	text-align: center;
	text-shadow: 2px 2px 10px black;
	text-transform: uppercase;
	margin-top: 2em;
}

.logo {
	width: 15em;
	float: right;
	background-color: inherit;
}

img {
	padding-top: 2em;
	margin-left: 2em;
}
