html,
body {
	margin: 0px;
	padding: 0px;
	background: rgb(255, 255, 255);
	background: linear-gradient(180deg,
			rgba(255, 255, 255, 1) 1%,
			rgba(44, 254, 238, 1) 50%);
	scroll-behavior: smooth;
}

.back {
	position: absolute;
	background: fixed;
}

.container div {
	font-size: 2em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	display: grid;
	grid-template-columns: repeat(13, minmax(100px, 1fr));
	grid-template-rows: repeat(16, 200px);
}

.logo {
	opacity: 30%;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85px;
	background-color: #28364d;
	grid-column: 1/-1;
	grid-row: 1;
	z-index: 3;
	clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}

.menu {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	height: 90px;
	width: 100%;
	background-color: #44a5a7;
	grid-column: 1/-1;
	grid-row: 1/2;
	clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}

.menu a {
	color: #4ed8dd;
	text-decoration: none;
	padding: 10px;
}

.menu a:hover {
	color: #0e2829;
}

.resume {
	margin-left: auto;
}

.resume::before {
	position: absolute;
	content: '';
	background: rgb(141, 75, 75);
	width: 50px;
	height: 40px;
	right: 150px;
	clip-path: polygon(0% 20%,
			60% 20%,
			60% 0%,
			100% 50%,
			60% 100%,
			60% 80%,
			0% 80%);
	animation: arrow 0.5s infinite;
}

@keyframes arrow {
	from {
		transform: translateX(-5px);
	}

	to {
		transform: translateX(10px);
	}
}

.content {
	display: flex;
	grid-column: 1/-1;
	grid-row: 2/4;
	box-shadow: 0 0 100px 100px rgb(55, 209, 214);
}

span {
	color: #09a9f3;
}

.avi {
	position: absolute;
	transform: translateX(900px);
	z-index: 1;
}

.lamp {
	position: absolute;
	transform: translateX(905px);
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #28364d;

	grid-column: 2/13;
	grid-row: 5/6;
	z-index: 1;
	clip-path: polygon(0% 0%,
			100% 0%,
			100% 75%,
			75% 75%,
			75% 100%,
			70% 75%,
			0% 75%);
	margin-bottom: -5vw;
}

#portfolio {
	display: grid;
	justify-content: center;
	align-items: center;
	background-color: #56c3c5;
	grid-column: 1/-1;
	grid-row: 6/12;
}

.font_0 {
	transform: translate(200px, 50px);
}

.image {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(10, 1fr);


}

.image_content:hover {
	transform: scale(1.1);

}



.contact1 {
	padding: 2em;

	display: absolute;
	justify-content: center;
	align-items: center;
	background-color: #42e6a4;
	grid-column: 2/13;
	grid-row: 11/14;
	z-index: 1;
	box-shadow: 30px 30px rgb(98, 123, 124);
}

.contact1 a {
	text-decoration: none;
	color: #2a9797;
}

.contact1 a:hover {
	color: #133636;
}

#contact form {
	float: right;
	transform: translateY(-330px);
}

#contact form input {
	border-radius: 1rem;
	color: #175152;
	width: 150px;
	height: 25px;
}

#contact form input:hover {
	border-radius: 1rem;
	background-color: #93b2b3;
}

.footer2 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #175152;
	grid-column: 1/-1;
	grid-row: 12/17;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 80% 70%, 0% 100%);
}

.footer2 a {
	text-decoration: none;
	color: #4ed8dd;
}

.footer2 a:hover {
	color: #0e2829;
}