body {
	margin-top: 15%;
	padding: 0;
	background: rgb(249, 249, 249);
	background: radial-gradient(circle, rgba(249, 249, 249, 1) 0%, rgba(148, 187, 233, 1) 100%);
	background-attachment: scroll;
	background-size: cover;



}

.box {
	width: 100px;
	height: 100px;
	border: solid rgb(50, 52, 53) 2px;
}

.container {
	display: grid;
	justify-content: center;
	align-items: center;
	gap: 5px;
	grid-template-columns: repeat(3, 100px);
}



button {
	width: 100px;
	height: 40px;
	font: 1em sans-serif;
	border: solid rgba(161, 201, 221, 0.301) 2px;

}

.btn1:hover {
	background-color: #561f55;
}

.btn2:hover {
	background-color: #ffa259;
}

.btn3:hover {
	background-color: #801336;
}

.btn4:hover {
	background-color: #4d80e4;
}

.btn5:hover {
	background-color: #6fb98f;
}

.btn6:hover {
	background-color: #a3f7bf;
}

.btn7:hover {
	background-color: #000000;
}

.btn7:hover span {
	color: seashell;
}

.btn8:hover {
	background-color: #fb5b5a;
}

.btn9:hover {
	background-color: #94aa2a;
}

.box .show {
	visibility: hidden;
}

.box:hover .show {
	visibility: visible;
}